@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');


body {
    background-color: #f2944a;
}
.container {
    margin: 10px 50px;
    align-self: center;
    align-items: center;
}

.container img {
    transition: 1s;
    padding: 15px;
    width: 200px;
}

.container img:hover {
    filter: contrast(175%) brightness(3%);
    filter: drop-shadow(6px 6px #f472b0) grayscale(44%) drop-shadow(-7px -7px  #5183c2);
    transform: scale(1.1);
}


/* CONTACT PAGE STYLE */

body.contact {
    background-image: url(../img/tree-selfie-og.jpg);
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.contact {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

.email-me a {
    text-align: center;
    font-size: 180px;
    @media (min-width:1340px) {
        font-size:260px;
    }
    @media (max-width: 600px) {
        font-size: 100px;
    }
    font-family: 'Amatic SC', sans-serif; 
    text-decoration: none; 
    color: #fdcb36; 
    font-weight: 700;
    text-shadow:
        0.03em 0 black,
        0 0.03em black,
        -0.03em 0 black,
        0 -0.03em black,
        -0.03em -0.03em black,
        -0.03em 0.03em black,
        0.03em -0.03em black,
        0.03em 0.03em black;
}



/* ABOUT ME STYLE */

body.about-me {
    background-image: url(../img/collage.jpg);
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    overflow: scroll;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: -1;
    display: flex;
}

#abt-header {
    color: #0f2641;
    text-shadow: 2px 2px 1px #f472b080;
    font-family: 'Amatic SC', sans-serif; 
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 6rem;
    font-weight: 700;
}

#abt-para {
    color: #0f2641;
    text-shadow: 1px 1px 1px #f472b146;
    background-color: #4c7fbd54;
    font-family: 'Amatic SC', sans-serif; 
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    padding: 1rem;
    margin-left:2rem;
    margin-right:2rem;
    margin-top:1.5rem;
}


